<!-- wp:group {"tagName":"header","layout":{"inherit":true,"type":"constrained"}} -->
<header class="wp-block-group"><!-- wp:site-title /-->

<!-- wp:site-tagline /--></header>
<!-- /wp:group -->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity"/>
<!-- /wp:separator -->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:generateblocks/headline {"uniqueId":"46d7ff19","blockVersion":3,"typography":{"textAlign":"center"}} -->
<h2 class="gb-headline gb-headline-46d7ff19 gb-headline-text">Email Not Found/Invalid Request</h2>
<!-- /wp:generateblocks/headline --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->