<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"20px","bottom":"20px"}}}} -->
<div class="wp-block-group">
    <h1 class="wp-block-heading">Official Santa Report Card for<br><span class="child-name"></span></h1>
    <p><strong>Date:</strong> <span class="report-date"></span></p>

    <h3 class="wp-block-heading">Grading Summary</h3>
    <div class="report-card-table"></div>

    <h3 class="wp-block-heading">Other Comments</h3>
    <p class="report-comments"></p>

    <div class="wp-block-group signature-section">
        <p>Reviewed with Santa<br>Certified by:</p>
        <p class="text-2xl italic">Mr. Kringles</p>
        <p class="text-sm italic">Head Elf, Santa's Report Card (Dasher Region)</p>
    </div>

    <p class="has-text-align-center">Remember, he sees you when you're sleeping, he knows when you're awake, he knows
        when you've been bad or good. So...be good for goodness' sake!</p>
    <p class="has-text-align-center font-bold">Only 324 days until Christmas!</p>

    <div class="wp-block-button print-btn">
        <button onclick="window.print()">Print Report Card</button>
    </div>
</div>
