<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->

<!-- wp:generateblocks/container {"uniqueId":"2b2cc8cd","isDynamic":true,"blockVersion":4} /-->

<!-- wp:generateblocks/headline {"uniqueId":"e0f05fd9","blockVersion":3,"typography":{"textAlign":"center"}} -->
<h2 class="gb-headline gb-headline-e0f05fd9 gb-headline-text">Thank You! Your Request Has Been Received</h2>
<!-- /wp:generateblocks/headline -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">You will now be redirected shortly</p>
<!-- /wp:paragraph -->

<!-- wp:html -->
<script>
    setTimeout(function() {
        window.location.href = "/login";
    }, 5000); // Redirect after 5 seconds
</script>
<!-- /wp:html -->